.n-icon {
  width: 40px;
  height: 40px;

  svg {
    width: 40px;
    height: 40px;
  }
}

.n-button {
  width: 53px;
  height: 51px;
  background-color: rgba(255, 255, 255, 0.5) !important;

  &:hover {
    background-color: rgba(255, 255, 255, 0.7) !important;
  }

  &__content {
    color: $black-color;
  }
}