@font-face {
  font-family: "Inter";
  src: url("@/assets/fonts/Inter18pt-SemiBold.woff2") format("woff2"),
    url("@/assets/fonts/Inter18pt-SemiBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Stetica";
  src: url("@/assets/fonts/AAStetica-Bold.woff2") format("woff2"),
    url("@/assets/fonts/AAStetica-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Stetica";
  src: url("@/assets/fonts/AAStetica-Medium.woff2") format("woff2"),
    url("@/assets/fonts/AAStetica-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Stetica";
  src: url("@/assets/fonts/AASteticaMedium-Italic.woff2") format("woff2"),
    url("@/assets/fonts/AASteticaMedium-Italic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Stetica";
  src: url("@/assets/fonts/AAStetica-Regular.woff2") format("woff2"),
    url("@/assets/fonts/AAStetica-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Cormorant";
  src: url("@/assets/fonts/CormorantGaramond-Regular.woff2") format("woff2"),
    url("@/assets/fonts/CormorantGaramond-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Cormorant";
  src: url("@/assets/fonts/CormorantGaramond-Medium.woff2") format("woff2"),
    url("@/assets/fonts/CormorantGaramond-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Cormorant";
  src: url("@/assets/fonts/CormorantGaramond-MediumItalic.woff2") format("woff2"),
    url("@/assets/fonts/CormorantGaramond-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}
